@section Scripts {
    <script src="~/js/ServiceDepartamentos.js" asp-append="true"></script>
    <script>
        $(document).ready(function() {
            cargarTablaDepartamentos();
            $("#botondelete").click(function() {
                var id = $("#numero").val();
                eliminarDepartamentoAsync(id, function() {
                    cargarTablaDepartamentos();
                });
            })
 
            $("#botoninsertar").click(function() {
                var num = parseInt($("#numero").val());
                var nom = $("#nombre").val();
                var loc = $("#localidad").val();
                insertarDepartamentoAsync(num, nom, loc, function(){
                    cargarTablaDepartamentos();
                })
            })
 
            $("#botonupdate").click(function() {
                var num = parseInt($("#numero").val());
                var nom = $("#nombre").val();
                var loc = $("#localidad").val();
                updateDepartamentoAsync(num, nom, loc, function(){
                    cargarTablaDepartamentos();
                })
            })
        })
 
        function cargarTablaDepartamentos() {
            getJsonDepartamentosAsync(function (data) {
                console.log(data);
                var html = "";
                $.each(data, function (index, dept) {
                    html += "<tr>";
                    html += "<td>" + dept.idDepartamento + "</td>";
                    html += "<td>" + dept.nombre + "</td>";
                    html += "<td>" + dept.localidad + "</td>";
                    html += "</tr>";
                    $("#tabladepartamentos tbody").html(html);
                })
            })
        }
    </script>
}

    <button id="botonupdate">Actualizar</button>
    <button id="botoninsertar">Insertar</button>
    <button id="botondelete">Borrar</button>

    <input type="number" id="numero" />
    <input type="text" id="nombre" />
    <input type="text" id="localidad" />

    <table id="tabladepartamentos" class="table table-striped">
        <thead>
            <tr>
                <th>ID:</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
